
@{
    List<DataShop.EF.Category> cate = ViewBag.listCate;
}
@foreach (var item in cate)
{

    <ul class="list-menu">
        <li class="menu-item-dad">
            <a class="dropdown-toggle" data-toggle="dropdown" href="../Home/DanhMucSanPham">@item.CateName</a>
            <i class="fa-solid fa-angle-down color-white"></i>
            <ul class="menu-item-child">
                @foreach (var dmc in item.SubCategories)
                {
                    <li class="list-menu-item">@dmc.SubCateName</li>
                }
            </ul>
        </li>

    </ul>
}


@*<ul class="list-menu">
    <li class="menu-item-dad">
        <a class="dropdown-toggle" data-toggle="dropdown" href="DanhMucSanPham">XE ĐẠP</a>
        <i class="fa-solid fa-angle-down color-white"></i>
        <ul class="menu-item-child">
            <li class="list-menu-item"><a href=""> XE ĐẠP ĐUA (ROAD)</a></li>
            <li class="list-menu-item"><a href=""> XE ĐẠP LEO NÚI(MTB)</a></li>
            <li class="list-menu-item"><a href=""> XE ĐẠP ĐƯỜNG DÀI(TOURING)</a></li>
            <li class="list-menu-item"><a href=""> XE ĐẠP THÀNH PHỐ (CITY)</a></li>
            <li class="list-menu-item"><a href=""> XE ĐẠP XẾP / GẤP(FOLDING)</a></li>
            <li class="list-menu-item"><a href=""> XE ĐẠP TRẺ EM</a></li>
            <li class="list-menu-item"><a href=""> XE ĐẠP KHÔNG THẮNG (FIXED GEAR)</a></li>
            <li class="list-menu-item"><a href=""> XE ĐẠP ĐIỆN</a></li>
        </ul>
    </li>
    <li class="menu-item-dad">
        <a href="#">
            PHỤ TÙNG
            <i class="fa-solid fa-angle-down color-white"></i>
        </a>
        <ul class="menu-item-child">
            <li class="list-menu-item"><a href="">ROAD</a></li>
            <li class="list-menu-item"><a href="">MTB</a></li>
            <li class="list-menu-item"><a href="">FIXED GEAR</a></li>
            <li class="list-menu-item"><a href="">CHÉN CỔ</a></li>
            <li class="list-menu-item"><a href="">PHUỘC</a></li>
            <li class="list-menu-item"><a href="">ĐỒ NGHỀ, DỤNG CỤ</a></li>
            <li class="list-menu-item"><a href="">BAGA, CHỐNG, GIÁ DỰNG</a></li>
        </ul>
    </li>
    <li class="menu-item-dad">
        <a href="#">
            PHỤ KIỆN
            <i class="fa-solid fa-angle-down color-white"></i>
        </a>
        <ul class="menu-item-child">
            <li class="list-menu-item"><a href="">PHỤC KIỆN ĐIỆN TỬ</a></li>
            <li class="list-menu-item"><a href="">GHẾ NGỒI TRẺ EM</a></li>
            <li class="list-menu-item"><a href="">TRANG PHỤC, BẢO HỘ</a></li>
        </ul>
    </li>
    <li class="drop-down menu-item-dad">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            BỘ TRUYỀN ĐỘNG
            <i class="fa-solid fa-angle-down color-white"></i>
        </a>
        <ul class="menu-item-child dropdown-menu">
            <li class="list-menu-item"><a href="">GROUPSET</a></li>
            <li class="list-menu-item"><a href="">TAY ĐỀ - TAY LẮC</a></li>
            <li class="list-menu-item"><a href="">CÙI ĐỀ TRƯỚC(SANG DĨA)</a></li>
            <li class="list-menu-item"><a href="">CÙI ĐỀ SAU(SANG LÍP)</a></li>
            <li class="list-menu-item"><a href="">GIÒ ĐĨA</a></li>
            <li class="list-menu-item"><a href="">LÍP</a></li>
            <li class="list-menu-item"><a href="">SÊN</a></li>
            <li class="list-menu-item"><a href="">TRỤC GIỮA</a></li>
            <li class="list-menu-item"><a href="">BÁNH BỘ</a></li>
            <li class="list-menu-item"><a href="">ĐÙM - CĂM - NIỀNG</a></li>
            <li class="list-menu-item"><a href="">VỎ - RUỘT</a></li>
            <li class="list-menu-item"><a href="">THẮNG</a></li>
            <li class="list-menu-item"><a href="">VÈ</a></li>
        </ul>
    </li>
    <li class="menu-item-dad">
        <a href="#">
            KHUNG SƯỜN
            <i class="fa-solid fa-angle-down down-user color-white"></i>
        </a>
        <ul class="menu-item-child">
            <li class="list-menu-item"><a href="">KHUNG ROAD</a></li>
            <li class="list-menu-item"><a href="">KHUNG MTB</a></li>
            <li class="list-menu-item"><a href="">KHUNG FIXED GEAR</a></li>
        </ul>
    </li>
    <li class="menu-item-dad">
        <a href="#">
            TUỲ CHỌN CẤU HÌNH
            <i class="fa-solid fa-angle-down down-user color-white"></i>
        </a>
        <ul class="menu-item-child">
            <li class="list-menu-item"><a href="">XE ĐẠP ROAD</a></li>
            <li class="list-menu-item"><a href="">XE ĐẠP MTB</a></li>
            <li class="list-menu-item"><a href="">XE ĐẠP FIXED GEAR</a></li>
        </ul>
    </li>
</ul>*@