<div id="slider" class="grid">
    <div class="container-slider grid">
        <div class="container-img-navbar">
            <img src="@Url.Content("~/imgs/slider1.png")" class="slide-img" alt="">
            <img src="@Url.Content("~/imgs/slider2.png")" class="slide-img" alt="">
            <img src="@Url.Content("~/imgs/contact1.png")" class="slide-img" alt="">
        </div>
    </div>

</div>